<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @motoristum.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @motoristum.cpf %>
</p>

<p>
  <strong>Tipo de Caminhão:</strong>
  <%= @motoristum.tipo_de_caminhao %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @motoristum.ano %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @motoristum.marca %>
</p>

<%= link_to 'Editar', edit_motoristum_path(@motoristum) %> |
<%= link_to 'Voltar', motorista_path %>
